include LICENSE
include README.md
include INSTALL.md
include REQUIREMENTS.md
include STATUS.md
recursive-include src/recommender/device_information *.pkl
recursive-include src/recommender/coupling_maps *.npy
prune src/tests
prune src/c2q-dataset
prune src/parser/results
prune src/parser/saved_models_2025_12
prune src/reports
