torch==2.4.1; python_version < "3.13"
torch==2.6.0; python_version >= "3.13" and python_version < "3.14"
transformers==4.44.2; python_version < "3.13"
transformers==4.48.3; python_version >= "3.13" and python_version < "3.14"
safetensors==0.5.3
